<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body text-center">
                <form onsubmit="return false;">
                    <div class="form-group">
                        <label for="idDelete" class="fw-bold mt-3">ID</label>
                        <input readonly id="idDelete" type="text" class="form-control" name="id">
                    </div>
                    <div class="form-group">
                        <label for="firstNameDelete" class="fw-bold mt-3">First name</label>
                        <input readonly id="firstNameDelete" type="text" class="form-control" name="firstName">
                    </div>
                    <div class="form-group">
                        <label for="lastNameDelete" class="fw-bold mt-3">Last name</label>
                        <input readonly id="lastNameDelete" type="text" class="form-control" name="lastName">
                    </div>
                    <div class="form-group">
                        <label for="ageDelete" class="fw-bold mt-3">Age</label>
                        <input readonly id="ageDelete" type="text" class="form-control" name="age">
                    </div>
                    <div class="form-group">
                        <label for="emailDelete" class="fw-bold mt-3">Email</label>
                        <input readonly id="emailDelete" type="email" class="form-control" name="email">
                    </div>
                    <div class="form-group">
                        <label for="rolesDelete" class="fw-bold mt-3">Role</label>
                        <select readonly name="roles" multiple class="form-control" id="rolesDelete" required></select>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="buttonDelete" data-bs-dismiss="modal">Delete</button>
            </div>

        </div>
    </div>
</div>