<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div class="col-2" th:fragment="sidebarAdmin">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a sec:authorize="hasRole('ADMIN')" class="nav-link active" id="nav-admin-area-link" href="#admin-area" role="tab"
           aria-controls="v-pills-admin" aria-selected="true">Admin</a>
        <a class="nav-link" id="nav-user-area-link" href="#user-area" role="tab"
           aria-controls="v-pills-user" aria-selected="false">User</a>
    </div>
</div>

<div class="col-2" th:fragment="sidebarUser">
    <div class="nav flex-column nav-pills" id="v-pills-tab2" role="tablist" aria-orientation="vertical">
        <a sec:authorize="hasRole('ADMIN')" class="nav-link" id="nav-admin-area-link" href="#admin-area" role="tab"
           aria-controls="v-pills-admin" aria-selected="true">Admin</a>
        <a class="nav-link active" id="nav-user-area-link" href="#user-area" role="tab"
           aria-controls="v-pills-user" aria-selected="false">User</a>
    </div>
</div>

</html>