<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="fragments/header.html :: head"/>

<body>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-4 mt-5">
            <label for="login">
                <h1>Please sign in</h1>
            </label>
            <form method="post" th:action="@{/login}" id="login">
                <div class="form-group">
                    <p>
                        <label for="username"></label>
                        <input type="email" class="form-control" id="username" name="j_username"
                               placeholder="Email address">
                        <label for="password"></label>
                        <input type="password" class="form-control" id="password" name="j_password"
                               placeholder="Password">
                    </p>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script th:replace="fragments/footer.html :: scripts"/>

</body>
</html>